/* You can add global styles to this file, and also import other style files */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}


// 主要顏色卡
$main-color :#0c5275;
$sub-color: #474725;

$main-button-color: #4BA8D6;
$sub-button-color:#aedcf2;

$main-text-color: #a3bdc9;


// 區塊樣式
.bodyLayout{
  background-color: $main-color;
  height: 100%;
}

.banner{
  display: flex;
  justify-content: center;
  flex-direction: columnf;
}

.gbtn-main{
  background-color: $main-button-color;
}

.gbtn-sub{
  background-color: $sub-button-color;
}



// 字體顏色
a,p,h1,h2,h3,h4,h5,h6{
  color: $main-text-color !important;
}


// 組合面板





