/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

// 主要顏色卡
$main-color :#4C934C;
$sub-color: #53A548;
$main-button-color: #91CB3E;
$sub-button-color:#EEE82C;
$main-text-color: #19381F;
// 區塊樣式
.bodyLayout {
    background-color: $main-color;
    height: 100%;
}

.banner {
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: columnf;
}

.foot-menu-area {
    width: 100%;
    position: relative;
    top: 15vh;
    background-color: #19381f;
    opacity: 0;
}

.gbtn-main {
    background-color: $main-button-color;
}

.gbtn-sub {
    background-color: $sub-button-color;
}

// 字體顏色
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $main-text-color !important;
}

// 組合面板
