/* You can add global styles to this file, and also import other style files */

html,
body {
    margin: 0;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

// 主要顏色卡
$main-color :#1A535C;
$sub-color: #4ECDC4;
$main-button-color: #FF6B6B;
$sub-button-color:#FFE66D;
$main-text-color: #F7FFF7;
$darken-main-color: darken($main-color, 10%);
// 區塊樣式
.bodyLayout {
    background-color: $main-color;
    height: 100%;
}

.banner {
    height: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: columnf;
}

.foot-menu-area {
    padding: 8px;
    position: relative;
    top: 15vh;
    height: 18vh;
    background-color: #4ECDC4;
    opacity: 0;
}

.gbtn-main {
    background-color: $main-button-color;
}

.gbtn-sub {
    background-color: $sub-button-color;
}

// 字體顏色
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    color: $main-text-color !important;
}

// 組合面板
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    position: absolute;
    background-color: $darken-main-color;
    color: $main-text-color;
    width: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 0px;
    border-radius: 10px;
    z-index: 1;
    opacity: 0;
}

.dropdown:hover .dropdown-content {
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    width: 150px;
    opacity: 0.9;
}
